*{
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
.padre{
  display: flex;
  flex-flow: column nowrap;
  }
  .header{
    background: url(imagenes/Logo1.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
  }
  .menu{
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
  
  }
    .logo{
      flex:1 1 auto;
    }
      .logo i{
        color: #fff;
        font-size: 35px;
      }
       .logo i:hover{
      color: #343434;
    }
      .logo a{
        color: "fff";
      }
    .nav{
      flex:5 1 auto;
      align-self: auto;
    }
    .nav a{
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 2px;

    }
    .nav a:hover{
      color: #343434;
    }
    .social{
      flex:1 1 auto;
      display: flex;
    }
      .social a{
        font-size: 18px;
        color: #fff;
        padding: 0 5px;
      }
      .social a:hover{
      color: #343434;
    }
  .texto-principal {
    background: #F07B3F;
  }
    h1{
      background:#FFD460;
    }

  .section{
      background: #000;
      display: flex;
  }
    .articulos{
    background: #4E4E6A;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;

    }
      .article{
      background:#1F6CB0;
      flex: 1 1 40%;

      }
    .aside{
      background: #F73F52;
      flex: 1 1 auto;
    }
      .publicidad{
        background: #FFEA85;
      }
  .footer{
  background: #000;
  display: flex;
  justify-content: center;
  } 
    .pie{
      background: #E6AF2E;
      width: 300px;

    }
@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside{
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }

}
@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
  }